# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
sw.js
workbox*.js

# misc
.DS_Store
*.pem

# debug
yarn-debug.log*
yarn-error.log*

# local env files
.env.local

# vercel
.vercel
